nav {
  background-color: rgba(0, 0, 0, 0.397); }
  nav h1 {
    color: white;
    font-size: 0.7em; }
  nav .icono-nav {
    background-color: aqua; }
  nav li {
    color: white;
    font-size: 0.8em;
    font-weight: 500;
    padding: 8px; }
  nav li:hover {
    color: aqua; }
  nav li:active {
    color: #1cacac; }

.body-home {
  background-color: black; }

.carousel-item .carru-text h2 {
  font-size: 100px;
  font-weight: 400;
  font-family: 'Cairo', sans-serif;
  text-shadow: 2px 2px 2px #4e4e4e; }

.carousel-item .carru-text p {
  font-size: 20px;
  text-shadow: 2px 2px 2px #4e4e4e; }

.carousel-item .carru-text .modi-tex {
  font-size: 60px;
  font-weight: 400;
  font-family: 'Cairo', sans-serif; }

.whatsfloat img {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 20px;
  bottom: 60px;
  z-index: 100; }

.titulo-equipo {
  text-align: center;
  font-family: 'Cairo', sans-serif;
  color: white; }

.equipo-mb {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .equipo-mb .box-img {
    position: relative;
    text-align: center;
    width: 350px;
    height: 350px;
    box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.75); }
    .equipo-mb .box-img img {
      width: 100%;
      height: 100%;
      border-radius: 2px; }
    .equipo-mb .box-img h4 {
      position: absolute;
      bottom: -2.3%;
      background-color: rgba(0, 0, 0, 0.521);
      width: 100%;
      color: white; }

.box-img:hover {
  transform: scale(0.98); }

.section-2 {
  height: 150px;
  align-items: center;
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .section-2 .redes {
    display: flex;
    align-items: center; }
    .section-2 .redes div {
      padding: 10px; }
      .section-2 .redes div span:hover {
        color: aqua; }
      .section-2 .redes div span:active {
        color: #1cacac; }
      .section-2 .redes div span {
        font-family: 'Cairo', sans-serif;
        font-weight: 400;
        color: white; }
      .section-2 .redes div img {
        height: 40px;
        width: 40px;
        padding: 3px; }
      .section-2 .redes div .img-insta {
        height: 30px;
        width: 30px;
        padding: 3px; }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131212; }
  footer .nav-footer {
    display: flex;
    text-align: center; }
    footer .nav-footer a {
      padding: 8px;
      text-decoration: none; }
      footer .nav-footer a p:hover {
        color: aqua; }
      footer .nav-footer a p:active {
        color: #1cacac; }
      footer .nav-footer a p {
        margin: 0%;
        color: white;
        font-family: 'Cairo', sans-serif; }
  footer .no-copy {
    padding: 8px; }
    footer .no-copy span {
      color: #8f8d8d; }

@media screen and (max-width: 1024px) {
  .equipo-mb div {
    height: 300px !important;
    width: 300px !important; }
    .equipo-mb div img {
      height: 300px !important;
      width: 300px !important; }
  .titulo-equipo h2 {
    font-size: 30px !important; } }

@media screen and (max-width: 768px) {
  .equipo-mb div {
    height: 220px !important;
    width: 220px !important; }
    .equipo-mb div img {
      height: 220px !important;
      width: 220px !important; }
  h1 {
    position: absolute;
    left: 350px; }
  .titulo-equipo h2 {
    font-size: 20px !important; } }

@media screen and (max-width: 700px) {
  .carru-text h2 {
    font-size: 50px !important; }
  .carru-text p {
    font-size: 15px !important; }
  .titulo-equipo h2 {
    font-size: 25px !important; } }

@media screen and (max-width: 510px) {
  .carru-text h2 {
    font-size: 40px !important; }
  .carru-text p {
    font-size: 12px !important; }
  .titulo-equipo h2 {
    font-size: 20px !important; } }

@media screen and (max-width: 425px) {
  h1 {
    position: absolute;
    left: 200px; }
  .carru-text h2 {
    font-size: 30px !important; }
  .carru-text p {
    font-size: 10px !important; }
  .titulo-equipo h2 {
    font-size: 25px !important; }
  .equipo-mb div {
    height: 300px !important;
    width: 300px !important;
    margin-top: 25px; }
    .equipo-mb div img {
      height: 300px !important;
      width: 300px !important; }
    .equipo-mb div h4 {
      position: absolute;
      bottom: -3% !important; }
  footer {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 414px) {
  .section-2 span {
    font-size: 10px; }
  .nav-footer p {
    font-size: 13px; }
  h1 {
    visibility: hidden; } }

.body-service {
  background-image: url(../imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-color: black; }

.section-service {
  margin-top: 120px; }
  .section-service .fila-prin {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .section-service .fila-prin .card {
      text-align: center;
      margin-top: 30px; }
      .section-service .fila-prin .card .btn {
        background-color: aqua;
        font-family: 'Cairo', sans-serif; }
      .section-service .fila-prin .card .btn:hover {
        background-color: #03aaaa;
        color: white; }
  .section-service .fila-sec {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 35px; }
    .section-service .fila-sec .card {
      text-align: center;
      margin-top: 30px; }
      .section-service .fila-sec .card .btn {
        background-color: aqua;
        font-family: 'Cairo', sans-serif;
        font-weight: 400; }
      .section-service .fila-sec .card .btn:hover {
        background-color: #03aaaa;
        color: white; }

@media screen and (max-width: 900px) {
  .card {
    width: 15rem !important;
    height: 30rem !important; }
    .card .btn {
      position: absolute;
      bottom: 10px;
      right: 25%; } }

@media screen and (max-width: 768px) {
  .card {
    width: 14rem !important;
    height: 29rem !important; }
    .card .btn {
      position: absolute;
      bottom: 10px;
      right: 25%; } }

@media screen and (max-width: 671px) {
  .card {
    width: 25rem !important;
    height: 36rem !important; }
    .card .btn {
      position: absolute;
      bottom: 10px;
      right: 33%; }
  h1 {
    visibility: hidden; } }

@media screen and (max-width: 425px) {
  .card {
    width: 19rem !important;
    height: 30rem !important; }
    .card .btn {
      position: absolute;
      bottom: 10px;
      right: 30%; } }

.body-portafolio {
  background-image: url(../imagenes/fondo-porta.jpg); }

.box-porta {
  margin-top: 130px; }

.porta-1 iframe {
  box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.75); }

.porta-1 a {
  text-decoration: none; }
  .porta-1 a h3 {
    color: white;
    text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.363); }
  .porta-1 a h3:hover {
    color: aqua; }

.porta-1 p {
  color: white;
  text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.452); }

@media screen and (max-width: 1202px) {
  .linea-1 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .porta-1 {
    width: 530px !important;
    padding: 0% !important; } }

@media screen and (max-width: 550px) {
  .porta-1 {
    width: 350px !important;
    height: 300px; }
    .porta-1 iframe {
      width: 350px;
      height: 220px; } }

.sec-cursos {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sec-cursos .card-curso .btn {
    background-color: aqua;
    font-family: 'Cairo', sans-serif;
    color: black; }
  .sec-cursos .card-curso .btn:hover {
    background-color: #03aaaa;
    color: white; }

.body-cursos {
  background-image: url(../imagenes/fondo-cursos.jpg); }

.body-qs {
  background-image: url(../imagenes/fondo-qs.png); }

.main-qs {
  margin-top: 120px; }
  .main-qs h2 {
    color: white;
    text-align: center;
    font-size: 100px;
    font-family: 'Cairo', sans-serif;
    text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.6);
    margin-bottom: 25px; }
  .main-qs .mision .parrafo-qs {
    animation-duration: 3s; }
  .main-qs .mision p {
    color: white;
    margin-top: 70px;
    font-family: 'Cairo', sans-serif; }
  .main-qs .vision p {
    color: white;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.452);
    font-family: 'Cairo', sans-serif; }
  .main-qs .vision .parrafo-vision {
    animation-duration: 7s; }

.img-mision {
  animation-duration: 3s; }

.img-vision {
  animation-duration: 7s; }

@media screen and (max-width: 1126px) {
  .port-grid-fil {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .port-grid-fil .img-vision {
      margin-top: 50px; }
    .port-grid-fil img {
      width: 100%; }
    .port-grid-fil .vision {
      width: 350px; }
      .port-grid-fil .vision p {
        margin-top: 0%; }
  .mision {
    width: 350px !important; }
    .mision p {
      margin-top: 20px !important; }
  h2 {
    font-size: 70px !important; } }
